<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto Final | Cart</title>
</head>
<body>
  <h1>Carrito</h1>
  <h4>Dirección de entrega: <span style="color: green;"><%= user.address %></span></h4>
  <% if (!userCart || userCart.length === 0) { %>
    <p>No hay elementos en el carrito</p>
  <% } else { %>
    <% userCart.items.forEach(product => { %>
      <div style="border: 2px solid #000000;">
        <ul style="list-style: none;">
          <li>Producto: <%= product.product %></li> 
          <li>Precio: $<%= product.price %></li> 
          <li>Cantidad: <%= product.quantity %></li> 
        </ul>
        <form action="/carrito/remove" method="post">
          <input type="hidden" name="userEmail" value=<%= user.email %>>
          <input type="hidden" name="productId" value=<%= product.productId %>>
          <button type="submit">Eliminar del carrito</button>
        </form>
      </div>
      <br>
    <% }) %>
    <form id="delete-cart-form">
      <button type="button" id="delete-cart-button">Vaciar Carrito</button>
    </form>
    <form action="/ordenes" method="post">
      <input type="hidden" name="email" value="<%= user.email %>">
      <button type="submit">Confirmar Compra</button>
    </form>
    <h2>Total: $<%= userCart.total %></h2>
  <% } %>
  <a href="/productos">Volver al Dashboard</a>
  <script>
    const userEmail = "<%= user.email %>";
    const deleteCartForm = document.getElementById("delete-cart-form");
    const deleteCartBtn = document.getElementById("delete-cart-button");

    deleteCartBtn.addEventListener("click", async () => {
      try {
        const response = await fetch(`/carrito/${userEmail}`, { method: "DELETE" });
        if (response.ok) {
          window.location.reload()
        } else {
          console.error(`Delete cart failed: ${response.statusText}`)
        }
      } catch (error) {
        console.error(`Delete cart failed: ${error}`)
      }
    });
  </script>
</body>
</html>
