<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto Final | Chat de usuario</title>
</head>
<body>
  <h1>Estos son tus mensajes</h1>
  <% if (!messages || messages.length === 0) { %>
    <p>No hay mensajes para mostrar</p>
  <% } else { %>
    <% messages.forEach(message => { %>
      <ul style="border: 2px solid #000000;">
        <% if (message.userType === "system") { %>
          <li><span style="color: red;"><%= message.userType %>: </span> <%= message.email %></li>
          <% } else { %>
          <li><span style="color: blue;"><%= message.userType %>: </span> <%= message.email %></li> 
        <% } %> 
        <li><span style="color: blue;">Día: </span><%= message.timestamp.getDate() %>/<%= message.timestamp.getMonth() %>/<%= message.timestamp.getFullYear() %></li>
        <li><span style="color: blue;">Hora: </span><%= message.timestamp.getHours() %>:<%= message.timestamp.getMinutes() %>hs</li>
        <li><span style="color: blue;">Mensaje: </span><%= message.message %></li>
      </ul>
    <% }) %>
  <% } %>
  <a href="/chat">Volver al chat</a>
</body>
</html>